
<%= smart_listing_render :products, :formats => [:html] %>
<%= link_to "Add Category", category_new_url, :class => 'navbar-link btn right'%></li>
<%= link_to "Add Product", new_product_url, :class => 'navbar-link btn right'%></li>
